body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #ca4183, #8f94fb);
  min-height: 100vh;
  margin: 0;
}

.login-card {
  max-width: 400px;
  border-radius: 20px;
  background: #fff;
}

.btn-primary {
  background-color: #ca4183;
  border: none;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #b13670;
}

a {
  color: #ca4183;
}

a:hover {
  color: #a02e62;
}
